body {
    background-color: #f0f0f0;
    margin: 0 auto;

  }
.user-picture{
    border-radius: 50%;
    width: 70px;
    height: 50px;
  
  }
  
  .chat{
    display: flex;
    align-items: center;
    width: 16rem;
  
  }
  .chat-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 5px;
  }
  .members{
    width: 30%;
    justify-Content : space-evenly;
}
.members-card{
      height:29rem;
      width: 20rem;
    
  }

  .friend-chat{
    display: flex;
    flex-direction: row-reverse;
  }
  .send-button{
    display: flex;
    flex-direction: row-reverse;
  }

  /* Define a custom scrollbar */
.custom-scrollbar {
  
  scrollbar-width: thin; 
 
  scrollbar-color: #888 #f1f1f1;

  
  &::-webkit-scrollbar {
      width: 10px;
  }
  
  
  &::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
  
  
  &::-webkit-scrollbar-thumb {
      background: #888; 
  }
  
  
  &::-webkit-scrollbar-thumb:hover {
      background: #555; 
  }
  overflow-y: hidden;
}
