.chat {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.members {
  margin: 10px;
  margin-left: 30px;
  width: 50vh;
  height: 60vh;
}
.members-card{
  height: 70vh;
  overflow-y: auto; /* Vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  border: 1px solid rgb(83, 42, 197);
  padding: 2;
  }

.message {
  margin: 10px;
  height: 70vh;
  width: 35rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(83, 42, 197);

}