
.board{
  border: 2px solid rebeccapurple;
  height: 70vh;
  width: 55vh;
  margin: 20px;
  background-color: ghostwhite;

}
.board-title{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  margin: 10px 10px;
  padding: 10px 10px;
}
.card-header {
  display: flex;
  align-items: center;
}

.card-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.main_card{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}
.input-card{
  padding: 0px 2px;
  display: inline-block;
  border: solid 1px black;
}
.card-delete{
  margin: 5px 0px
    
}
.btn-add{
  margin-left: auto;
}
.no-drag {
  pointer-events: auto; /* Ensure interactive elements work */
}