
.board{
  height: 70vh;
  width: 50vh;
}
.card{
  margin: 10px 10px;
}
.card-header {
  display: flex;
  align-items: center;
}

.card-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.card-title {
  margin: 0;
}
.btn-add{
  margin-left: auto;
}
