.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


  
}
.window-container {
  top: 1rem;
  width: 200px; 
  height: 130px; 
  border: 1px solid #ccc; 
  border-radius: 25px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  padding: 20px; 
  position: relative;
  left: 20rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

/* Add hover effect */
.window-container:hover {
  background-color: #f0f0f0; /* Change to your desired background color */
}
.card-header {
    display: flex;
    align-items: center;
}

.card-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.card-title {
    margin: 0;
}

.background-image-container {
  background-size: 100% 100%; /* Stretch the background image to cover the entire container */
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Set a negative z-index to make sure it's behind other elements */
}